node_modules
.DS_Store
dist
dist-ssr
*.local
package-lock.json
yarn.lock
pnpm-lock.yaml

# env
.env


# cypress
cypress/plugins/
cypress/support/
cypress/screenshots/
cypress/videos/

# tauri
src-tauri/target/
